body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  width: 100%;
  margin: 0;
  height: 100vh;
  background-color: #374954;
  text-align: center;
  display: flex;
justify-content: center;
align-items: center;
}

h1 {
  font-size: 100px;
}

.container {
  padding: 0 30px;
}

button {
  display: inline;
  background-color: #6bbe92;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

